.error-view {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &__message {
        color: #9F0013;
        font-weight: 700;
        font-size: 20px;
    }
}