.comics-info, .characters-info {
    width: 100%;
    height: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;

    &__image {
        height: 450px;
        width: 293px;
        
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }

        &_fill {
            img {
                object-fit: fill;
            }
        }
    }

    &__main {
        max-width: 550px;
        display: flex;
        flex-direction: column;
        gap: 30px; 
    }

    &__title {
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
    }

    &__description, &__lang, &__pages {
        font-size: 18px;
    }

    &__price {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: #9F0013;
    }

    &__buttons {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    &__links {
        width: 76px;
        height: 21px;
        margin-left: auto;
    }

    &__link {
        color: #000;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;

        &:hover {
            color: #9F0013;
        }
    }
}