.app-container {
    width: 100%;
    padding: 50px 160px;
    position: relative;
}

.bg-decoration {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -10;
    
    &__image {
        max-width: 467px;
        max-height: 372px;
        object-fit: contain;
    }
}

.characters-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 25px;
    width: 100%;
}

.character-details-container {
    width: 44%;
}

footer {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}