.characters-section {
    width: 55%;
    
    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        gap: 25px;
        row-gap: 30px;
        align-items: center;
        justify-content: center;
        list-style-type: none;
    }
}
