@mixin diagonal {
    display: inline-block;
    content: '';
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 0;
    position: absolute;
    transform: rotate(45deg);
}

.app-button {
    display: block;
    width: 101px;
    height: 38px;
    text-transform: uppercase;
    font-size: 14px;
    text-align: center;
    background-color: #5C5C5C;
    color: white;
    border: none;
    position: relative;
    transition: 0.3s all;

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
    }

    &:before {
        @include diagonal;
        top: -5px;
        left: -5px;
    }

    &:after {
        @include diagonal;
        bottom: -5px;
        right: -5px;
    }

    &_on-dark-bg {
        &:before, &:after {
            @include diagonal;
            background-color: #232222;
        }
    }

    &_main {
        background-color: #9F0013;
    }

    &_wide {
        width: 170px;
        margin-top: 45px;
    }
}

a.app-button {
    padding: 11px 18px;
}